    <div class="navbar">
      <div class="navbar-inner">
	      <a class="brand" href="#"><small>©  2012-<%= Time.now.year %> Meetmy Ltd - v1.0.0</small></a>
      </div><!-- close navbar-inner -->
    </div><!-- close navbar -->
