    <div class="navbar">
      <div class="navbar-inner">
	      <a class="brand" href="#"><small>© <%= Time.now.year %> nor(DEV): Hack - v1.0.0</small></a>
      </div><!-- close navbar-inner -->
    </div><!-- close navbar -->
