<% if !body.empty? %>
<div class="btn-group">
  <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
  	<i class="icon-cog"></i>
    <%= title %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">
    <%= body %>
  </ul>
</div>
<% end %>
